<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        
        th {
            text-align: left;
        }
        
        td:nth-child(1),
        th:nth-child(1) {
            background-color: antiquewhite;
            width: 15px;
        }
        
        td,
        th {
            border: 1px solid red;
            padding: 5px;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <th>no</th>
            <th>product name</th>
            <th>quantity</th>
        </tr>
        <tr>
            <td>1</td>
            <td>name 1</td>
            <td>3</td>
        </tr>
        <tr>
            <td>2</td>
            <td>name2</td>
            <td>2</td>
        </tr>
    </table>
</body>

</html>